<ion-header>
  <ion-toolbar color="primary">
    <ion-title>tabs</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar showCancelButton="focus"></ion-searchbar>

  </ion-toolbar>

  <ion-item no-padding>
    <ion-label class="label-padding" color="dark">
      Number of plants: 6
    </ion-label>
    <ion-button slot="end" class="btn-transparente" fill="clear" (click)="loadFilters()">
      <ion-icon class="medium" src="assets/filters.svg"></ion-icon>
      Filters
    </ion-button>
  </ion-item>

</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tab1">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="tab2">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>


</ion-content>