<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar color="primary">
      <ion-tab-button tab="list">
        <ion-icon name="list"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>