@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=78D1D209-E7B9-4945-935A-636F5DAD8475
registry=https://npm.ghost.overtechnologies.com/
//npm.ghost.overtechnologies.com/:_authToken="RguusDECZRgWFEAPPlm3bEwUCfoVw9r08xOXb4BoeLU="