<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
</ion-item>
<ion-item>
  <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
</ion-item>

<ion-content padding>
  <ion-button (click)="login()" expand="block">Login</ion-button>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <ion-item text-center>
    <ion-label color="dark">
      Don't have an account?
    </ion-label>
  </ion-item>
  <p>&nbsp;</p>
  <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">Register</ion-button>
</ion-content>
