<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header text-center>
      <ion-card-title>Credentials</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-input name="password" type="password" placeholder="******" [(ngModel)]="password" required></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button class="login-btn" (click)="login()" expand="block">Login</ion-button>

  <ion-item text-center class="register-text">
    <ion-label color="dark">
      Don't have an account?
    </ion-label>
  </ion-item>

  <ion-button class="register-btn" expand="block" color="secondary">Register</ion-button>
</ion-content>