<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Filter by</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" icon="close"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light">
    <ion-text class="filter-label" color="dark">
      <h3>Consumption</h3>
    </ion-text>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button id="Low" shape="round" #low color="tertiary" (click)="changeConsumption(low)" fill='outline'>Low
        </ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button id="Medium" shape="round" #medium color="tertiary" (click)="changeConsumption(medium)"
          fill='outline'>Medium
        </ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button id="High" shape="round" #high color="tertiary" (click)="changeConsumption(high)" fill='outline'>High
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item color="light">
    <ion-text class="filter-label" color="dark">
      <h3>Area</h3>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label>North</ion-label>
    <ion-checkbox color="primary" mode="ios" slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Center</ion-label>
    <ion-checkbox color="primary" mode="ios" slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>South</ion-label>
    <ion-checkbox color="primary" mode="ios" slot="start"></ion-checkbox>
  </ion-item>

  <ion-item color="light">
    <ion-text class="filter-label" color="dark">
      <h3>Status</h3>
    </ion-text>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button id="On" #on shape="round" color="tertiary" (click)="changeStatus(on)" fill='outline'>On</ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button id="Off" #off shape="round" color="tertiary" (click)="changeStatus(off)" fill='outline'>Off
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="my-footer">
  <ion-button color="light" fill="clear" expand="block" (click)="applyFilters()">Apply filters</ion-button>
</ion-footer>