// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #00a4ff;
  --ion-color-primary-rgb: 0, 164, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0090e0;
  --ion-color-primary-tint: #1aadff;

  --ion-color-secondary: #0078ff;
  --ion-color-secondary-rgb: 0, 120, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #006ae0;
  --ion-color-secondary-tint: #1a86ff;

  --ion-color-tertiary: #a1a1a1;
  --ion-color-tertiary-rgb: 161, 161, 161;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #8e8e8e;
  --ion-color-tertiary-tint: #aaaaaa;

  --ion-color-success: #03e676;
  --ion-color-success-rgb: 3, 230, 118;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #03ca68;
  --ion-color-success-tint: #1ce984;

  --ion-color-warning: #ffc104;
  --ion-color-warning-rgb: 255, 193, 4;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0aa04;
  --ion-color-warning-tint: #ffc71d;

  --ion-color-danger: #f4483b;
  --ion-color-danger-rgb: 244, 72, 59;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d73f34;
  --ion-color-danger-tint: #f55a4f;

  --ion-color-dark: #666666;
  --ion-color-dark-rgb: 102, 102, 102;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #5a5a5a;
  --ion-color-dark-tint: #757575;

  --ion-color-medium: #a1a1a1;
  --ion-color-medium-rgb: 161, 161, 161;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #8e8e8e;
  --ion-color-medium-tint: #aaaaaa;

  --ion-color-light: #f8f8f8;
  --ion-color-light-rgb: 248, 248, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dadada;
  --ion-color-light-tint: #f9f9f9;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h4,
h5,
h6 {
  font-family: "Montserrat-Bold", sans-serif;
}

p,
span {
  font-family: "Roboto", sans-serif;
}
