<ion-header no-border>
  <ion-toolbar color="primary" class="toolbar-padding">
    <ion-searchbar [(ngModel)]="searchName" (ionChange)="filterValues()" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
  <ion-item no-padding>
    <ion-label class="label-padding" color="dark">
      Number of plants: {{ items.length }}
    </ion-label>
    <ion-button slot="end" class="btn-transparente" fill="clear" (click)="loadFilters()">
      <fa-icon class="filter-icon" icon="filter"></fa-icon>
      Filters
    </ion-button>
  </ion-item>
</ion-header>

<ion-content>
  <ion-grid *ngIf="consumptionFilter.length !== 3">
    <ion-row>
      <ion-list *ngFor="let consumption of consumptionFilter">
        <ion-button class="btn-nocaps" fill="clear" slot="start" (click)="removeConsumption(consumption)">
          <ion-icon color="tertiary" src="assets/error.svg"></ion-icon>
          <ion-label color="dark">Consumption: {{ consumption }}</ion-label>
        </ion-button>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="areaFilter.length !== 3">
    <ion-row>
      <ion-list *ngFor="let area of areaFilter">
        <ion-button class="btn-nocaps" fill="clear" slot="start" (click)="removeArea(area)">
          <ion-icon color="tertiary" src="assets/error.svg"></ion-icon>
          <ion-label color="dark">Area: {{ area }}</ion-label>
        </ion-button>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="statusFilter.length !== 2">
    <ion-row>
      <ion-list *ngFor="let status of statusFilter">
        <ion-button class="btn-nocaps" fill="clear" slot="start" (click)="removeStatus(status)">
          <ion-icon color="tertiary" src="assets/error.svg"></ion-icon>
          <ion-label color="dark">Status: {{ status }}</ion-label>
        </ion-button>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-virtual-scroll [items]="items" approxItemHeight="160px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;">
      <ion-item lines="full">
        <fa-icon transform="shrink-3 up-2" slot="start" [ngClass]="{'off':!item.connection, 'on':item.connection}"
          [icon]="['fas', 'circle']">
        </fa-icon>
        <ion-label color="dark">
          Plant ID: {{ item.id }}
        </ion-label>
        <ion-button *ngIf="!item.connection" fill="outline" slot="end" (click)="connectToPlant(item)">Connect
        </ion-button>
        <ion-button *ngIf="item.connection" fill="outline" slot="end" (click)="connectToPlant(item)">Disconnect
        </ion-button>
      </ion-item>

      <ion-card-content>
        <ion-grid>
          <ion-row text-center>
            <ion-col text-center>
              <span (click)="plantDetails(item)" class="fa-stack fa-2x vertical-center">
                <fa-icon icon="building" transform="right-4"></fa-icon>
                <fa-icon icon="search" transform="shrink-5 up-8 right-2"></fa-icon>
              </span>
              <!-- <ion-icon class="big" src="assets/plant_detail.svg"></ion-icon> -->
            </ion-col>
            <ion-col text-center>
              <div>Area: {{ item.area }} </div>
              <div>City: {{ item.city }}</div>
              <div>Consumption: {{ item.consumption }}</div>
            </ion-col>
            <ion-col class="vertical-center" text-center>
              <!--
              <ion-button class="btn-transparente" (click)="updateStatus(item)" fill="clear" size="large">
                <ion-icon *ngIf="item.status == 'OFF' || !item.connection" class="big" color="tertiary"
                  src="assets/light_off.svg">
                </ion-icon>
                <ion-icon *ngIf="item.status == 'ON' && item.connection" class="big" color="primary"
                  src="assets/light_off.svg">
                </ion-icon>
              </ion-button>
            -->
              <fa-icon (click)="updateStatus(item)" icon="lightbulb-on" class="fa-2x"
                [ngClass]="{'bulb-off':item.status == 'OFF' || !item.connection, 'bulb-on':item.status == 'ON' && item.connection}">
              </fa-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>