<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Plant {{ item.id }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col padding>
        <div #mapElement class="map"></div>
      </ion-col>
      <ion-col>
        <ion-card no-padding>
          <ion-card-header no-padding class="no-margin">
            <ion-item lines="none">
              <ion-icon *ngIf="!item.connection" class="small" src="assets/dot.svg" slot="start"></ion-icon>
              <ion-icon *ngIf="item.connection" class="small" src="assets/dot_ok.svg" slot="start"></ion-icon>
              <ion-label color="dark">
                Status
              </ion-label>
              <ion-button *ngIf="!item.connection" fill="outline" slot="end" (click)="connectToPlant(item)">Connect
              </ion-button>
              <ion-button *ngIf="item.connection" fill="outline" slot="end" (click)="connectToPlant(item)">Disconnect
              </ion-button>
            </ion-item>
          </ion-card-header>

          <ion-card-content no-padding>
            <ion-list>
              <ion-item no-padding>
                <ion-label class="label-padding">Area: {{ item.area }}</ion-label>
              </ion-item>
              <ion-item no-padding>
                <ion-label class="label-padding">City: {{ item.city }}</ion-label>
              </ion-item>
              <ion-item no-padding>
                <ion-label class="label-padding">Address: {{ item.address }}</ion-label>
              </ion-item>
              <ion-item no-padding>
                <ion-label class="label-padding">POD: {{ item.pod }}</ion-label>
              </ion-item>
              <ion-item no-padding lines="none">
                <ion-text class="label-padding">Lights: </ion-text>
                <ion-toggle disabled="{{ !item.connection }}" [(ngModel)]="carmine" (ionChange)="updateStatus(item)">
                </ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="container" style="display: block;"></div>
  <div id="montenegro" style="display: block;"></div>
</ion-content>