ion-icon {
  margin-right: 8px;

  &.small {
    width: 12px;
    height: 12px;
  }

  &.medium {
    width: 20px;
    height: 20px;
  }

  &.big {
    width: 50px;
    height: 50px;
  }

  &.bigger {
    width: 100px;
    height: 100px;
  }

  &.red {
    color: red;
  }
}

.map {
  height: 300px;
  width: 100%;
}

.label-padding {
  padding-left: 16px;
}
