<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Dashboard</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" class="toolbar-padding">
    <ion-searchbar [(ngModel)]="searchName" (ionChange)="filterValues()" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item no-padding>
    <ion-label class="label-padding" color="dark">
      Number of plants: {{ items.length }}
    </ion-label>
    <ion-button slot="end" class="btn-transparente" fill="clear" (click)="loadFilters()">
      <ion-icon class="medium" src="assets/filters.svg"></ion-icon>
      Filters
    </ion-button>
  </ion-item>

  <ion-grid *ngIf="consumptionFilter.length !== 3">
    <ion-row>
      <ion-list *ngFor="let consumption of consumptionFilter">
        <ion-button class="btn-nocaps" fill="clear" slot="start" (click)="removeConsumption(consumption)">
          <ion-icon color="tertiary" src="assets/error.svg"></ion-icon>
          <ion-label color="dark">Consumption: {{ consumption }}</ion-label>
        </ion-button>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="areaFilter.length !== 3">
    <ion-row>
      <ion-list *ngFor="let area of areaFilter">
        <ion-button class="btn-nocaps" fill="clear" slot="start" (click)="removeArea(area)">
          <ion-icon color="tertiary" src="assets/error.svg"></ion-icon>
          <ion-label color="dark">Area: {{ area }}</ion-label>
        </ion-button>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="statusFilter.length !== 2">
    <ion-row>
      <ion-list *ngFor="let status of statusFilter">
        <ion-button class="btn-nocaps" fill="clear" slot="start" (click)="removeStatus(status)">
          <ion-icon color="tertiary" src="assets/error.svg"></ion-icon>
          <ion-label color="dark">Status: {{ status }}</ion-label>
        </ion-button>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-virtual-scroll [items]="items" approxItemHeight="160px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;">
      <ion-card-header>
        <ion-card-subtitle>Plant ID: {{ item.id }} </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row (click)="plantDetails(item)">
            <ion-col>
                <ion-icon class="big" src="assets/google_map.svg"></ion-icon>
            </ion-col>
            <ion-col text-center>
              <div>Area: {{ item.area }} </div>
              <div>City: {{ item.city }}</div>
              <div>Consumption: {{ item.consumption }}</div>
              <div>POD: {{ item.pod }}</div>
            </ion-col>
            <ion-col text-center>
              <ion-button class="btn-transparente" (click)="updateStatus(item)" fill="clear" size="large">
                <ion-icon *ngIf="item.status == 'OFF'" class="big" color="tertiary" src="assets/light_off.svg">
                </ion-icon>
                <ion-icon *ngIf="item.status == 'ON'" class="big" color="primary" src="assets/light_off.svg">
                </ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>