<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col text-start>
        Number of establishments: {{ items.length }}
      </ion-col>
      <ion-col text-end>
        <ion-button class="btn-transparente" fill="clear">
          <ion-icon class="medium" src="assets/filters.svg"></ion-icon>
          Filters
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-virtual-scroll [items]="items" approxItemHeight="160px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;">
      <ion-card-header>
        <ion-card-subtitle>Impianto #{{ item.number }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col text-start>
              <ion-icon class="big" src="assets/google_map.svg"></ion-icon>
            </ion-col>
            <ion-col text-start>
              <div>Area: North Italy</div>
              <div>City: Milan</div>
              <div>POD: IT 001 E 12345678</div>
            </ion-col>
            <ion-col text-center>
              <ion-button class="btn-transparente" fill="clear" size="large">
                <ion-icon class="big" src="assets/light_off.svg"></ion-icon>
              </ion-button>
              <div>OFF</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>